<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <title>Jquery Ajax Test</title>
	<link rel='stylesheet' href='{{gui.css.bootstrap}}'>
	<link rel='stylesheet' href='{{gui.css.home}}'>
	<script src="{{gui.js.jquery}}"></script>
	<script src="{{gui.js.bootstrap}}"></script>
	<script src="{{gui.js.home}}"></script>
	<script>   
	  var new_width=280; //你要固定的浏览器宽度
	  var new_height=648; //你要固定的浏览器高度
	  function resizewindow()
	  {
	      window.resizeTo(new_width,new_height);
	  }
	  resizewindow();
	</script>
	</head>
	
	
	<body>
		
		<div class="main-page">
			
			<div id = "display">
				<h2>test</h2>

			</div>

		</div>
		<div class="sidebar">
			<h1><a id = home>Jalapeno</a></h1>
			<ul class="cardgroup container-fluid">
				




				<li class="row">
					<div id = runner class="card col-xs-6"><a href="{{url_for('runner')}}">Run</a></div>
					<div id = freeze class="card col-xs-6"><a href="{{url_for('freeze')}}">Freeze</a></div>
				</li>
				<li class="row">
					<div id = shortcut class="card col-xs-6"><a href="{{url_for('shortcut')}}">ShortCuts</a></div>
					<div class="card col-xs-6"><a href="#">unlock</a></div>					
				</li>
				<li class="row">
					
				</li>
				<li class="row">
					<div class="card col-xs-6"><a href="{{url_for('exit_proc')}}">Exit</a></div>
					<div class="card col-xs-6"><a href="#">Version</a></div>					
				</li>
			</ul>

		</div>
s
		<script type="text/javascript">
			$("#home").click(function(){
				  $("#display").load("/welcome");
					 $(this).trigger("pagecreate");
				});

		</script>
	</body>
	
	
	
</html>