<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChenghaoQ</title>
    <link rel="stylesheet" href='static/css/index.css'>
</head>
<body>
    
        <div class="wrapper">
           <div class="mask">
            <div class="logo"></div>
            <div class="heading">
                
                <h1>老钱</h1>
                
            </div>
            <div class="loading"></div>
            </div>
        </div>
    <script src="static/js/jquery.js"></script>
        <script src='static/js/index.js'></script>
</body>
</html>
